In [1]:
# 对大模型SQL结果进行评测
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
import traceback

def get_db_engine(database, host="rm-uf6z891lon6dxuqblqo.mysql.rds.aliyuncs.com", user="student123", password="student321", port=3306):
    """创建数据库连接引擎"""
    connection_str = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'
    engine = create_engine(connection_str)
    return engine

def get_db_session(engine):
    """创建数据库会话"""
    Session = sessionmaker(bind=engine)
    session = Session()
    return session

def get_markdown_result(session, sql):
    """
    执行SQL并返回markdown格式的结果
    返回值：
    - isok: 'Yes'表示执行成功，'No'表示执行失败
    - result: 成功时返回markdown表格，失败时返回错误信息
    """
    try:
        # 执行SQL查询
        result = session.execute(text(sql))
        
        # 获取列名
        columns = result.keys()
        
        # 获取所有数据
        rows = result.fetchall()
        
        if not rows:
            return 'Yes', '查询结果为空'
            
        # 构建markdown表格
        markdown = '| ' + ' | '.join(columns) + ' |\n'
        markdown += '| ' + ' | '.join(['---' for _ in columns]) + ' |\n'
        
        # 添加数据行
        for row in rows:
            markdown += '| ' + ' | '.join(str(cell) for cell in row) + ' |\n'
            
        return 'Yes', markdown
        
    except Exception as e:
        error_msg = str(e)
        traceback_msg = traceback.format_exc()
        return 'No', f'SQL执行错误: {error_msg}'
    finally:
        session.close()

filename = './sql_result_qwen_turbo.xlsx'

# 获取数据库句柄
engine = get_db_engine(database="life_insurance")

# 读取待评测文件
df = pd.read_excel(filename)

df['能否运行'] = 0
markdown_list = []
for index, row in df.iterrows():
    sql = row['SQL']
    print(sql)
    session = get_db_session(engine)
    if str(sql) == 'nan':
        df.loc[index, '能否运行'] = 'No 没有找到SQL'
        continue
        
    # 如果有多个sql，只执行第一个
    sqls = sql.split(';')
    sql = sqls[0]        
    isok, markdown_table = get_markdown_result(session, sql)
    markdown_list.append(markdown_table)
    if isok == 'Yes':
        df.loc[index, '能否运行'] = 'Yes'
    else:
        df.loc[index, '能否运行'] = 'No ' + markdown_table
        
df.to_excel(filename, index=False)
df

SELECT Name, PhoneNumber
FROM CustomerInfo

SELECT
    PolicyInfo.PolicyNumber,
    PolicyInfo.CustomerID,
    PolicyInfo.ProductID,
    PolicyInfo.PolicyStatus,
    PolicyInfo.Beneficiary,
    PolicyInfo.Relationship,
    PolicyInfo.PolicyStartDate,
    PolicyInfo.PolicyEndDate,
    PolicyInfo.PremiumPaymentStatus,
    PolicyInfo.PaymentDate,
    PolicyInfo.PaymentMethod,
    PolicyInfo.AgentID
FROM
    PolicyInfo
WHERE
    PolicyInfo.CustomerID IN (
        SELECT
            CustomerInfo.CustomerID
        FROM
            CustomerInfo
        WHERE
            CustomerInfo.MaritalStatus = 'Married'
    )

SELECT CustomerInfo.CustomerID, CustomerInfo.Name
FROM CustomerInfo
LEFT JOIN PolicyInfo ON CustomerInfo.CustomerID = PolicyInfo.CustomerID
WHERE PolicyInfo.PolicyStatus = 'paid'

SELECT
    CustomerInfo.Name,
    CustomerInfo.PhoneNumber
FROM
    CustomerInfo
        JOIN
    PolicyInfo ON CustomerInfo.CustomerID = PolicyInfo.CustomerID
        JOIN
    ClaimInfo ON PolicyInfo.PolicyNumber = ClaimInfo.PolicyNumber
WHERE
    ClaimInfo.ClaimAmount > 10000;

SELECT Name, LicenseExpirationDate
FROM AgentInfo
ORDER BY LicenseExpirationDate;

SELECT ProductName, Premium
FROM ProductInfo
ORDER BY Premium DESC;

SELECT Name, Position
FROM EmployeeInfo
WHERE EmployeeID IN (
    SELECT EmployeeID
    FROM EmployeeInfo
    WHERE Location = 'Sales Region 1'
);

SELECT CustomerInfo.CustomerID, CustomerInfo.Name, CustomerInfo.DateOfBirth
FROM CustomerInfo
WHERE CustomerInfo.DateOfBirth < '1990-01-01'

SELECT
    ClaimInfo.ClaimNumber,
    ClaimInfo.ClaimDate,
    ClaimInfo.ClaimType,
    ClaimInfo.ClaimAmount,
    ClaimInfo.ClaimStatus,
    ClaimInfo.ClaimDescription,
    ClaimInfo.BeneficiaryID,
    ClaimInfo.MedicalRecords,
    ClaimInfo.AccidentReport,
    ClaimInfo.ClaimHandler,
    ClaimInfo.ReviewDate,
    ClaimInfo.PaymentMethod,
    ClaimInfo.PaymentDate,
    ClaimInfo.DenialReason
FROM
    ClaimInfo
WHERE
    ClaimInfo.ClaimStatus = 'Pending'

SELECT ProductType, AVG(Premium) AS AveragePremium, COUNT(PolicyNumber) AS PolicyCount
FROM PolicyInfo AS pi
JOIN ProductInfo AS pi2
ON pi.ProductID = pi2.ProductID
GROUP BY ProductType;

,QA,SQL,time,能否运行
0,获取所有客户的姓名和联系电话。\n,"SELECT Name, PhoneNumber\nFROM CustomerInfo\n",51.15,Yes
1,\n找出所有已婚客户的保单。\n,"SELECT\n PolicyInfo.PolicyNumber,\n Poli...",4.61,Yes
2,\n查询所有未支付保费的保单号和客户姓名。\n,"SELECT CustomerInfo.CustomerID, CustomerInfo.N...",1.52,Yes
3,\n找出所有理赔金额大于10000元的理赔记录，并列出相关客户的姓名和联系电话。\n,"SELECT\n CustomerInfo.Name,\n CustomerIn...",2.63,Yes
4,\n查找代理人的姓名和执照到期日期，按照执照到期日期升序排序。\n,"SELECT Name, LicenseExpirationDate\nFROM Agent...",0.74,Yes
5,\n获取所有保险产品的产品名称和保费，按照保费降序排序。\n,"SELECT ProductName, Premium\nFROM ProductInfo\...",0.66,Yes
6,\n查询所有在特定销售区域工作的员工的姓名和职位。\n,"SELECT Name, Position\nFROM EmployeeInfo\nWHER...",1.27,Yes
7,\n找出所有年龄在30岁以下的客户，并列出其客户ID、姓名和出生日期。\n,"SELECT CustomerInfo.CustomerID, CustomerInfo.N...",1.85,Yes
8,\n查找所有已审核但尚未支付的理赔记录，包括理赔号、审核人和审核日期。\n,"SELECT\n ClaimInfo.ClaimNumber,\n ClaimI...",5.09,Yes
9,\n获取每个产品类型下的平均保费，以及该产品类型下的产品数量。,"SELECT ProductType, AVG(Premium) AS AveragePre...",1.97,Yes