In [ ]:
from vanna.openai import OpenAI_Chat
from vanna.chromadb.chromadb_vector import ChromaDB_VectorStore
import mysql.connector
import time
from openai import OpenAI

class MyVanna(ChromaDB_VectorStore, OpenAI_Chat):
    def __init__(self, config=None):
        # 分离配置，只将OpenAI客户端传递给OpenAI_Chat
        chroma_config = config.copy() if config else {}
        openai_config = config.copy() if config else {}
        
        # 保存client到实例属性
        if config and 'client' in config:
            self.client = config['client']
        else:
            self.client = None
        
        # 从chroma_config中移除client
        if 'client' in chroma_config:
            del chroma_config['client']
            
        # 初始化两个基类
        ChromaDB_VectorStore.__init__(self, config=chroma_config)
        OpenAI_Chat.__init__(self, config=openai_config)

# 创建OpenAI客户端
client = OpenAI(
    api_key='sk-mi9MCut4OAAfY4SUE8a4fCQBLfMZPZpV5an6Ove0PPUSVVBq',
    base_url='https://chatapi.littlewheat.com/v1'
)

# 初始化Vanna实例
vn = MyVanna(config={
    'model': 'gpt-4o-mini', 
    'client': client
})

vn.connect_to_mysql(host='rm-uf6z891lon6dxuqblqo.mysql.rds.aliyuncs.com', 
                    dbname='action', user='student123', password='student321', port=3306)

# 连接到MySQL数据库
try:
    connection = mysql.connector.connect(
        host='rm-uf6z891lon6dxuqblqo.mysql.rds.aliyuncs.com',
        database='action',
        user='student123',
        password='student321',
        port=3306
    )
    print("成功连接到MySQL数据库")
    
    # 获取所有表名
    cursor = connection.cursor()
    cursor.execute("""
        SELECT TABLE_NAME 
        FROM information_schema.TABLES 
        WHERE TABLE_SCHEMA = 'action'
    """)
    tables = cursor.fetchall()
    
    # 训练每个表的schema
    for (table_name,) in tables:
        try:
            # 获取表的创建语句
            cursor.execute(f"SHOW CREATE TABLE {table_name}")
            _, create_table = cursor.fetchone()
            
            print(f"正在训练表 {table_name} 的schema...")
            vn.train(ddl=create_table)
            
        except Exception as e:
            print(f"训练表 {table_name} 失败: {str(e)}")
            continue
    
    print("Schema训练完成")
    
    # 示例：使用Vanna进行自然语言查询
    #question = "找出英雄攻击力最高的前5个英雄"
    #print(f"\n问题: {question}")
    #vn.ask(question)
    #vn.ask("查询heros表中 英雄攻击力前5名的英雄")
    sql=vn.generate_sql("查询heros表中 英雄攻击力前5名的英雄")
    print('sql=', sql)
    df = vn.run_sql(sql)
    print('df=', df)
    
except mysql.connector.Error as err:
    print(f"数据库连接错误: {err}")
finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL连接已关闭")

成功连接到MySQL数据库
正在训练表 address 的schema...
Adding ddl: CREATE TABLE `address` (
  `AddressId` int DEFAULT NULL,
  `PersonId` int DEFAULT NULL,
  `City` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `State` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

Add of existing embedding ID: 968ca8d9-6a7d-5591-a2f7-f1e3f74f2dec-ddl
Add of existing embedding ID: 592b142c-16ab-5714-990b-40d46d654d74-ddl
Add of existing embedding ID: ad2162eb-7d2c-5b00-ae6c-a3e34012c9b7-ddl
Add of existing embedding ID: 116ea84c-eb03-5273-b8bf-c0bb972abd35-ddl
Add of existing embedding ID: 3eaa085d-6546-5717-bffa-e4ef824262e8-ddl
Add of existing embedding ID: 48442f30-bd8e-5f2a-bdd6-b2c14f56afae-ddl
Add of existing embedding ID: ace310a8-97a0-520e-b9eb-cd61eeb9d71a-ddl
Add of existing embedding ID: 03dc29b6-f9a3-5b4f-914b-c77f79cd9d73-ddl
Add of existing embedding ID: f07056be-a094-5334-abf4-a3335ea9d581-ddl
Add of existing embedding ID: a52fc03d-491d-5f32-a8cc-042c386766d6-ddl
Add of existing embedding ID: 588c19a6-86be-5e8d-bbb6-2cb94688c657-ddl
Add of existing embedding ID: d55fb937-f008-5c79-adf9-4a3ba980b270-ddl
Add of existing embedding ID: 6fb181e6-83b6-52cd-ac16-10661684c2b9-ddl
Add of existing embedding ID: 9582eef6-6225-5b39-a35b-ffaf22bfcb7c-ddl
Add of existing embedding ID: dc08e8a6-9459-59d5-b31d-914564aed2fc-ddl
Add of existing embedding ID: 6eede8de-5682-58ee-bcf4-701e63955803-ddl
Add of existing embedding ID: ea67f184-5b8c-5628-ae62-1590de73e75c-ddl
Add of existing embedding ID: 77a616a4-0097-591c-baca-6a3a2114edaa-ddl
Add of existing embedding ID: c2ffcb9d-fd57-502b-9987-e0457ce477b8-ddl
Add of existing embedding ID: 708d59ee-9d7d-59b7-b6ba-7ceaf14993dd-ddl
Add of existing embedding ID: bde85cb8-9900-54d4-9258-f9d069c84398-ddl
Add of existing embedding ID: 57a7f9e7-6ad7-5c95-b33c-f28dbf61753a-ddl
Add of existing embedding ID: 741b4927-caa0-5b7a-8637-1d3eff393359-ddl
Insert of existing embedding ID: 968ca8d9-6a7d-5591-a2f7-f1e3f74f2dec-ddl
Add of existing embedding ID: 968ca8d9-6a7d-5591-a2f7-f1e3f74f2dec-ddl

正在训练表 asset_grades 的schema...
Adding ddl: CREATE TABLE `asset_grades` (
  `asset_level` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '身高等级',
  `asset_lowest` float(8,2) NOT NULL COMMENT '该等级范围中的最低身高',
  `asset_highest` float(8,2) NOT NULL COMMENT '该等级范围中的最高身高'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 592b142c-16ab-5714-990b-40d46d654d74-ddl
Add of existing embedding ID: 592b142c-16ab-5714-990b-40d46d654d74-ddl
Insert of existing embedding ID: ad2162eb-7d2c-5b00-ae6c-a3e34012c9b7-ddl
Add of existing embedding ID: ad2162eb-7d2c-5b00-ae6c-a3e34012c9b7-ddl

正在训练表 bank 的schema...
Adding ddl: CREATE TABLE `bank` (
  `bank_id` int NOT NULL COMMENT '球队ID',
  `bank_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '球队名称',
  PRIMARY KEY (`bank_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
正在训练表 car_sales 的schema...
Adding ddl: CREATE TABLE `car_sales` (
  `序号` int DEFAULT NULL,
  `地区` varchar(255) DEFAULT NULL,
  `城市` varchar(255) DEFAULT NULL,
  `销售日期` date DEFAULT NULL,
  `品牌` varchar(255) DEFAULT NULL,
  `车系` varchar(255) DEFAULT NULL,
  `车型` varchar(255) DEFAULT NULL,
  `销量` int DEFAULT NULL,
  `价格(万)` int DEFAULT NULL,
  `销售额(万)` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 116ea84c-eb03-5273-b8bf-c0bb972abd35-ddl
Add of existing embedding ID: 116ea84c-eb03-5273-b8bf-c0bb972abd35-ddl
Insert of existing embedding ID: 3eaa085d-6546-5717-bffa-e4ef824262e8-ddl
Add of existing embedding ID: 3eaa085d-6546-5717-bffa-e4ef824262e8-ddl

正在训练表 customers 的schema...
Adding ddl: CREATE TABLE `customers` (
  `Id` int DEFAULT NULL,
  `Name` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
正在训练表 dept 的schema...
Adding ddl: CREATE TABLE `dept` (
  `dept_id` int NOT NULL,
  `dept_name` varchar(100) DEFAULT NULL,
  `partent_id` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 48442f30-bd8e-5f2a-bdd6-b2c14f56afae-ddl
Add of existing embedding ID: 48442f30-bd8e-5f2a-bdd6-b2c14f56afae-ddl
Insert of existing embedding ID: ace310a8-97a0-520e-b9eb-cd61eeb9d71a-ddl
Add of existing embedding ID: ace310a8-97a0-520e-b9eb-cd61eeb9d71a-ddl

正在训练表 employee 的schema...
Adding ddl: CREATE TABLE `employee` (
  `Id` int DEFAULT NULL,
  `Name` varchar(255) DEFAULT NULL,
  `Salary` int DEFAULT NULL,
  `ManagerId` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
正在训练表 form 的schema...
Adding ddl: CREATE TABLE `form` (
  `form_id` int DEFAULT NULL,
  `form_name` varchar(100) DEFAULT NULL,
  `status` varchar(1) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 03dc29b6-f9a3-5b4f-914b-c77f79cd9d73-ddl
Add of existing embedding ID: 03dc29b6-f9a3-5b4f-914b-c77f79cd9d73-ddl

正在训练表 height_grades 的schema...
Adding ddl: CREATE TABLE `height_grades` (
  `height_level` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '身高等级',
  `height_lowest` float(3,2) NOT NULL COMMENT '该等级范围中的最低身高',
  `height_highest` float(3,2) NOT NULL COMMENT '该等级范围中的最高身高'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: f07056be-a094-5334-abf4-a3335ea9d581-ddl
Add of existing embedding ID: f07056be-a094-5334-abf4-a3335ea9d581-ddl

正在训练表 hero_score 的schema...
Adding ddl: CREATE TABLE `hero_score` (
  `id` int NOT NULL AUTO_INCREMENT,
  `score` int NOT NULL DEFAULT '0',
  `name` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

Insert of existing embedding ID: a52fc03d-491d-5f32-a8cc-042c386766d6-ddl
Add of existing embedding ID: a52fc03d-491d-5f32-a8cc-042c386766d6-ddl
Insert of existing embedding ID: 588c19a6-86be-5e8d-bbb6-2cb94688c657-ddl
Add of existing embedding ID: 588c19a6-86be-5e8d-bbb6-2cb94688c657-ddl

正在训练表 heros 的schema...
Adding ddl: CREATE TABLE `heros` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `hp_max` float DEFAULT NULL,
  `hp_growth` float DEFAULT NULL,
  `hp_start` float DEFAULT NULL,
  `mp_max` float DEFAULT NULL,
  `mp_growth` float DEFAULT NULL,
  `mp_start` float DEFAULT NULL,
  `attack_max` float DEFAULT NULL,
  `attack_growth` float DEFAULT NULL,
  `attack_start` float DEFAULT NULL,
  `defense_max` float DEFAULT NULL,
  `defense_growth` float DEFAULT NULL,
  `defense_start` float DEFAULT NULL,
  `hp_5s_max` float DEFAULT NULL,
  `hp_5s_growth` float DEFAULT NULL,
  `hp_5s_start` float DEFAULT NULL,
  `mp_5s_max` float DEFAULT NULL,
  `mp_5s_growth` float DEFAULT NULL,
  `mp_5s_start` float DEFAULT NULL,
  `attack_speed_max` float DEFAULT NULL,
  `attack_range` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `role_main` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `role_assist` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10069 DEFAULT CHARSET=utf8mb3
正在训练表 orders 的schema...
Adding ddl: CREATE TABLE `orders` (
  `Id` int DEFAULT NULL,
  `CustomerId` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: d55fb937-f008-5c79-adf9-4a3ba980b270-ddl
Add of existing embedding ID: d55fb937-f008-5c79-adf9-4a3ba980b270-ddl
Insert of existing embedding ID: 6fb181e6-83b6-52cd-ac16-10661684c2b9-ddl

正在训练表 person 的schema...
Adding ddl: CREATE TABLE `person` (
  `PersonId` int DEFAULT NULL,
  `FirstName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `LastName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

Add of existing embedding ID: 6fb181e6-83b6-52cd-ac16-10661684c2b9-ddl

正在训练表 player 的schema...
Adding ddl: CREATE TABLE `player` (
  `player_id` int NOT NULL AUTO_INCREMENT COMMENT '球员ID',
  `team_id` int NOT NULL COMMENT '球队ID',
  `player_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '球员姓名',
  `height` float(3,2) DEFAULT NULL COMMENT '球员身高',
  PRIMARY KEY (`player_id`) USING BTREE,
  UNIQUE KEY `player_name` (`player_name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10050 DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 9582eef6-6225-5b39-a35b-ffaf22bfcb7c-ddl
Add of existing embedding ID: 9582eef6-6225-5b39-a35b-ffaf22bfcb7c-ddl

正在训练表 player_score 的schema...
Adding ddl: CREATE TABLE `player_score` (
  `game_id` int NOT NULL COMMENT '比赛ID',
  `player_id` int NOT NULL COMMENT '球员ID',
  `is_first` tinyint(1) NOT NULL COMMENT '是否首发',
  `playing_time` int NOT NULL COMMENT '该球员本次比赛出场时间',
  `rebound` int NOT NULL COMMENT '篮板球',
  `rebound_o` int NOT NULL COMMENT '前场篮板',
  `rebound_d` int NOT NULL COMMENT '后场篮板',
  `assist` int NOT NULL COMMENT '助攻',
  `score` int NOT NULL COMMENT '比分',
  `steal` int NOT NULL COMMENT '抢断',
  `blockshot` int NOT NULL COMMENT '盖帽',
  `fault` int NOT NULL COMMENT '失误',
  `foul` int NOT NULL COMMENT '犯规',
  `shoot_attempts` int NOT NULL COMMENT '总出手',
  `shoot_hits` int NOT NULL COMMENT '命中',
  `shoot_3_attempts` int NOT NULL COMMENT '3分出手',
  `shoot_3_hits` int NOT NULL COMMENT '3分命中',
  `shoot_p_attempts` int NOT NULL COMMENT '罚球出手',
  `shoot_p_hits` int NOT NULL COMMENT '罚球命中'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: dc08e8a6-9459-59d5-b31d-914564aed2fc-ddl
Add of existing embedding ID: dc08e8a6-9459-59d5-b31d-914564aed2fc-ddl

正在训练表 student 的schema...
Adding ddl: CREATE TABLE `student` (
  `SId` varchar(10) DEFAULT NULL,
  `Sname` varchar(10) DEFAULT NULL,
  `Sage` datetime DEFAULT NULL,
  `Ssex` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 6eede8de-5682-58ee-bcf4-701e63955803-ddl
Add of existing embedding ID: 6eede8de-5682-58ee-bcf4-701e63955803-ddl

正在训练表 team 的schema...
Adding ddl: CREATE TABLE `team` (
  `team_id` int NOT NULL COMMENT '球队ID',
  `team_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '球队名称',
  PRIMARY KEY (`team_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: ea67f184-5b8c-5628-ae62-1590de73e75c-ddl
Add of existing embedding ID: ea67f184-5b8c-5628-ae62-1590de73e75c-ddl

正在训练表 team_score 的schema...
Adding ddl: CREATE TABLE `team_score` (
  `game_id` int NOT NULL COMMENT '比赛ID',
  `h_team_id` int NOT NULL COMMENT '主队ID',
  `v_team_id` int NOT NULL COMMENT '客队ID',
  `h_team_score` int NOT NULL COMMENT '主队得分',
  `v_team_score` int NOT NULL COMMENT '客队得分',
  `game_date` date DEFAULT NULL COMMENT '比赛时间',
  PRIMARY KEY (`game_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: 77a616a4-0097-591c-baca-6a3a2114edaa-ddl
Add of existing embedding ID: 77a616a4-0097-591c-baca-6a3a2114edaa-ddl
Insert of existing embedding ID: c2ffcb9d-fd57-502b-9987-e0457ce477b8-ddl
Add of existing embedding ID: c2ffcb9d-fd57-502b-9987-e0457ce477b8-ddl
Insert of existing embedding ID: 708d59ee-9d7d-59b7-b6ba-7ceaf14993dd-ddl

正在训练表 test_work 的schema...
Adding ddl: CREATE TABLE `test_work` (
  `xitong` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `people` varchar(100) DEFAULT NULL,
  `table_jc` varchar(100) DEFAULT NULL,
  `table_zwm` varchar(100) DEFAULT NULL,
  `ziduan` varchar(100) DEFAULT NULL,
  `ziduan_zwm` varchar(100) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
正在训练表 trips 的schema...
Adding ddl: CREATE TABLE `trips` (
  `Id` int DEFAULT NULL,
  `Client_Id` int DEFAULT NULL,
  `Driver_Id` int DEFAULT NULL,
  `City_Id` int DEFAULT NULL,
  `Status` enum('completed','cancelled_by_driver','cancelled_by_client') DEFAULT NULL,
  `Request_at` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

Add of existing embedding ID: 708d59ee-9d7d-59b7-b6ba-7ceaf14993dd-ddl

正在训练表 user 的schema...
Adding ddl: CREATE TABLE `user` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `gender` varchar(255) NOT NULL,
  `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `asset` float DEFAULT NULL,
  `role` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  `bank_id` int DEFAULT NULL,
  `tag` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`user_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10069 DEFAULT CHARSET=utf8mb3

Insert of existing embedding ID: bde85cb8-9900-54d4-9258-f9d069c84398-ddl
Add of existing embedding ID: bde85cb8-9900-54d4-9258-f9d069c84398-ddl
Insert of existing embedding ID: 57a7f9e7-6ad7-5c95-b33c-f28dbf61753a-ddl
Add of existing embedding ID: 57a7f9e7-6ad7-5c95-b33c-f28dbf61753a-ddl

正在训练表 users 的schema...
Adding ddl: CREATE TABLE `users` (
  `Users_Id` int DEFAULT NULL,
  `Banned` varchar(50) DEFAULT NULL,
  `Role` enum('client','driver','partner') DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3
训练表 using 失败: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'using' at line 1
正在训练表 weather 的schema...
Adding ddl: CREATE TABLE `weather` (
  `Id` int DEFAULT NULL,
  `RecordDate` date DEFAULT NULL,
  `Temperature` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

Insert of existing embedding ID: 741b4927-caa0-5b7a-8637-1d3eff393359-ddl
Add of existing embedding ID: 741b4927-caa0-5b7a-8637-1d3eff393359-ddl

Schema训练完成

Add of existing embedding ID: 765afe57-9b0d-5bbb-a1b4-2095309e0022-sql
Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1

SQL Prompt: [{'role': 'system', 'content': "You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \nCREATE TABLE `hero_score` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `score` int NOT NULL DEFAULT '0',\n  `name` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,\n  PRIMARY KEY (`id`) USING BTREE\n) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci\n\nCREATE TABLE `heros` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,\n  `hp_max` float DEFAULT NULL,\n  `hp_growth` float DEFAULT NULL,\n  `hp_start` float DEFAULT NULL,\n  `mp_max` float DEFAULT NULL,\n  `mp_growth` float DEFAULT NULL,\n  `mp_start` float DEFAULT NULL,\n  `attack_max` float DEFAULT NULL,\n  `attack_growth` float DEFAULT NULL,\n  `attack_start` float DEFAULT NULL,\n  `defense_max` float DEFAULT NULL,\n  `defense_growth` float DEFAULT NULL,\n  `defense_start` float DEFAULT NULL,\n  `hp_5s_max` float DEFAULT NULL,\n  `hp_5s_growth` float DEFAULT NULL,\n  `hp_5s_start` float DEFAULT NULL,\n  `mp_5s_max` float DEFAULT NULL,\n  `mp_5s_growth` float DEFAULT NULL,\n  `mp_5s_start` float DEFAULT NULL,\n  `attack_speed_max` float DEFAULT NULL,\n  `attack_range` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,\n  `role_main` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,\n  `role_assist` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,\n  `birthdate` date DEFAULT NULL,\n  PRIMARY KEY (`id`) USING BTREE\n) ENGINE=InnoDB AUTO_INCREMENT=10069 DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `asset_grades` (\n  `asset_level` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '身高等级',\n  `asset_lowest` float(8,2) NOT NULL COMMENT '该等级范围中的最低身高',\n  `asset_highest` float(8,2) NOT NULL COMMENT '该等级范围中的最高身高'\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `team` (\n  `team_id` int NOT NULL COMMENT '球队ID',\n  `team_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '球队名称',\n  PRIMARY KEY (`team_id`) USING BTREE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `team_score` (\n  `game_id` int NOT NULL COMMENT '比赛ID',\n  `h_team_id` int NOT NULL COMMENT '主队ID',\n  `v_team_id` int NOT NULL COMMENT '客队ID',\n  `h_team_score` int NOT NULL COMMENT '主队得分',\n  `v_team_score` int NOT NULL COMMENT '客队得分',\n  `game_date` date DEFAULT NULL COMMENT '比赛时间',\n  PRIMARY KEY (`game_id`) USING BTREE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `player` (\n  `player_id` int NOT NULL AUTO_INCREMENT COMMENT '球员ID',\n  `team_id` int NOT NULL COMMENT '球队ID',\n  `player_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '球员姓名',\n  `height` float(3,2) DEFAULT NULL COMMENT '球员身高',\n  PRIMARY KEY (`player_id`) USING BTREE,\n  UNIQUE KEY `player_name` (`player_name`) USING BTREE\n) ENGINE=InnoDB AUTO_INCREMENT=10050 DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `player_score` (\n  `game_id` int NOT NULL COMMENT '比赛ID',\n  `player_id` int NOT NULL COMMENT '球员ID',\n  `is_first` tinyint(1) NOT NULL COMMENT '是否首发',\n  `playing_time` int NOT NULL COMMENT '该球员本次比赛出场时间',\n  `rebound` int NOT NULL COMMENT '篮板球',\n  `rebound_o` int NOT NULL COMMENT '前场篮板',\n  `rebound_d` int NOT NULL COMMENT '后场篮板',\n  `assist` int NOT NULL COMMENT '助攻',\n  `score` int NOT NULL COMMENT '比分',\n  `steal` int NOT NULL COMMENT '抢断',\n  `blockshot` int NOT NULL COMMENT '盖帽',\n  `fault` int NOT NULL COMMENT '失误',\n  `foul` int NOT NULL COMMENT '犯规',\n  `shoot_attempts` int NOT NULL COMMENT '总出手',\n  `shoot_hits` int NOT NULL COMMENT '命中',\n  `shoot_3_attempts` int NOT NULL COMMENT '3分出手',\n  `shoot_3_hits` int NOT NULL COMMENT '3分命中',\n  `shoot_p_attempts` int NOT NULL COMMENT '罚球出手',\n  `shoot_p_hits` int NOT NULL COMMENT '罚球命中'\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `bank` (\n  `bank_id` int NOT NULL COMMENT '球队ID',\n  `bank_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '球队名称',\n  PRIMARY KEY (`bank_id`) USING BTREE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `form` (\n  `form_id` int DEFAULT NULL,\n  `form_name` varchar(100) DEFAULT NULL,\n  `status` varchar(1) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\nCREATE TABLE `student` (\n  `SId` varchar(10) DEFAULT NULL,\n  `Sname` varchar(10) DEFAULT NULL,\n  `Sage` datetime DEFAULT NULL,\n  `Ssex` varchar(10) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n"}, {'role': 'user', 'content': '找出英雄攻击力最高的前5个英雄'}, {'role': 'assistant', 'content': 'SELECT name, score\nFROM hero_score\nORDER BY score DESC\nLIMIT 5;'}, {'role': 'user', 'content': '查询heros表中 英雄攻击力前5名的英雄'}]
Using model gpt-4o-mini for 1342.25 tokens (approx)
LLM Response: SELECT name, attack_max
FROM heros
ORDER BY attack_max DESC
LIMIT 5;
Extracted SQL: SELECT name, attack_max
FROM heros
ORDER BY attack_max DESC
LIMIT 5;
SELECT name, attack_max
FROM heros
ORDER BY attack_max DESC
LIMIT 5;
   name  attack_max
0    阿轲       427.0
1   孙尚香       411.0
2  百里守约       410.0
3    虞姬       407.0
4    黄忠       403.0
Using model gpt-4o-mini for 173.25 tokens (approx)

In [ ]:
# #help(vn.ask)
# #vn.ask("查询heros表中 英雄攻击力前5名的英雄")
# sql=vn.generate_sql("查询heros表中 英雄攻击力前5名的英雄")
# print('sql=', sql)
# vn.run_sql(sql)